html {
  font-size: 10px;
  cursor: default;
}

body {
  background-color: rgb(161, 179, 216);
  color: rgb(62, 62, 62);
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.game {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  grid-template-rows: 1fr auto;
}

.game__panel {
  padding: 20px;
  max-height: 620px;
}

.title {
  font-size: 4rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

.subtitle {
  font-size: 3rem;
  text-align: center;
  padding: 10px;
}

.message-bar {
  color: rgb(47, 120, 47);
  padding: 20px;
  width: 100%;
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  visibility: hidden;
}

.controls__panel {
  margin-top: 20px;
}

.start-button {
  font-size: 2rem;
  text-transform: uppercase;
}

#canvas {
  background-image: url('img/sea.png');
  display: block;
}

#canvas:hover {
  cursor: pointer;
}

.stats-list {
  margin: 0;
  padding:0;
  text-align: left;
  list-style:none;
}

.stats-list > li {
  font-size: 2.2rem;
  padding-top: 10px;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
} 






